---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="flex-menu">
					<img src="https://store.akamai.steamstatic.com/public/shared/images/responsive/header_logo.png" alt="">
					<menu>
						<li><a href="#">Tienda</a></li>
						<li><a href="#">Comunidad</a></li>
						<li><a href="#">Acerce de</a></li>
						<li><a href="#">Soporte</a></li>
					</menu>
				</div>
			</div>
			<div class="menu-right">
				<a href="#" class="btn-download">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
					  </svg>					  
					Instalar Steam
				</a>
				
				<a href="#">Iniciar Sesión</a>
				|
				<a href="#">Idioma</a>
			</div>
		</header>
		<div class="banner">

		</div>

		<div class="banner2 container">
			<div class="left-menu">

			</div>
		</div>

		<div class="banner3">

		</div>
		<!-- <slot /> -->
	</body>
</html>
<style>
	html, body {
		padding:0;
		margin:0;
	}

	header {
		height: 80px;
		background: rgb(35, 33, 43);
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.flex-menu img {
		width: 140px;
	}
	.flex-menu {
		display: flex;
		height: 80px;
		width: 60%;
		float: left;
		align-items: center;
		color: #f6f2f2;
		font-family: sans-serif;
		text-transform: uppercase;
	}

	.flex-menu a{
		color: #d7c9c9;
		font-weight: 600;
		text-decoration: none;
	}

	.flex-menu:hover {
		color: #fff;
	}

	.flex-menu li{
		margin-left: 10px;
		list-style: none;
		display: inline-block;
	}

	.menu-right {
		float: left;
		margin-top: 8px;
		width: 40%;
		color: #ebe4e4;
		font-family: sans-serif;
	}

	.menu-right a {
		margin: 0 6px;
		color: #ebe4e4;
		text-decoration: none;	
	}

	.btn-download {
		color: #fff;
		background-color: #789806;
		display: inline-block;
		pad: 6px 12px;
		font-family: sans-serif;
		text-decoration: none;
		display: inline-flex;
		gap: 8px;
		align-items: center;
	}

	.btn-download svg {
		width: 18px;
	}

	.btn-download:hover {
		background-color: #8caf0c;
	}

	.banner {
		background: orange;
		height: 360px;
	}

	.banner2 {
		position: relative;
		background: purple;
		height: 260px;
	}

	.left-menu {
		background-color: pink;
		width: 180px;
		height: 360px;
		position: fixed;
	}

	.banner3 {
		height: 1200px;
		background-color: turquoise;
	}
</style>
